html {
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'monospace', sans-serif;
  background-color: rgb(228, 168, 161);
  overflow: hidden;
} 

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

.jukebox {
  opacity: 0;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: opacity 1s ease;
  user-select: none;
  pointer-events: none;
}

.jukebox.active {
  user-select: auto;
  pointer-events: auto;
  opacity: 1;
}

.start-container,
.choose-character,
.game-container {
  text-align: center;
}

.start-container {
  opacity: 1;
  position: absolute;
  transition: opacity 1s linear;
}

.start-container.remove {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.6rem;
  margin: 1rem 0;
}

.difficulty-container h3 {
  user-select: none;
  color: rgb(255, 255, 255);
}

.diff-btn {
  background-color: transparent;
  padding: 1.5rem 2.2rem;
  margin: 1rem 0.25rem 0;
  border: 2px solid transparent;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  transform: translateY(0);
  transition: transform 0.3s ease, color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

.diff-btn:active {
  transform: translateY(-5%);
}

.diff-btn:hover{
  border: 2px solid red;
  background-color: rgb(214, 97, 97);
  transform: translateY(-10%);
}

.diff-btn.selected {

  color: #fff;
  background-color: red;
}

.game-title {
  font-size: 4rem;
  user-select: none;
  font-family: 'Racing Sans One', sans-serif;
}

.btn {
  margin-top: 1rem;
  cursor: pointer;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Racing Sans One', sans-serif;
  background-color: rgb(214, 97, 97);
  border-radius: 2.5rem;
  border: 0.5rem solid red;
  transition: 0.3s ease background-color, 0.3s ease color;
}

.btn:hover {
  background-color: red;
  color: #fff;
}

.section-header {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* CHARACTERS SECTION */

.choose-character {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-150%);
  transition: transform 1s ease, opacity 1s linear;
}

.choose-character.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.choose-character.remove {
  opacity: 0;
}

.characters-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  background-color: rgb(0, 0, 0);
}

.character-img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  opacity: 0.2;
  transition: opacity 0.5s ease;
  cursor: pointer;
}

.character-img.active {
  opacity: 1;
}


/* GAME SECTION */

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  position: absolute;
  max-height: 90rem;
  min-height: 60rem;
  max-width: 120rem;
  min-width: 76.8rem;
  transform: translateY(150%);
  opacity: 1;
  transition: transform 1s linear, opacity 1s ease;
}

.game-container.active {
  visibility: visible;
  transform: translateY(0);
}

.inner-game-container {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(10rem, auto);
  gap: 1rem;
}

.conclusion-text {
  font-size: 3rem;
  user-select: none;
  -moz-user-select: none;
}

.choice-container {
  display: flex;
  margin: 2rem auto 0;
  border: 0.5rem solid orange;
  border-radius: 4rem;
  padding: 1rem 2rem;
}

.choice-container i {
  font-size: 10rem;
}

.choice-container h3 {
  font-size: 2rem;
}

.choice {
  cursor: pointer;
  padding: 0 4rem;
  transition: color 0.3s ease;
  color: black;
}

.choice.chosen {
  color: red;
}

.vs-img {
  height: 12rem;
  width: 12rem;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-container {
  font-size: 8rem;
}

.player-image {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
}

footer {
  position: absolute;
  bottom: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .game-title {
    font-size: 3.2rem;
  }

  .character-img {
    width: 20rem;
    height: 20rem;
  }

  .section-header {
    font-size: 2rem;
  }

  .player-image {
    height: 20rem;
    width: 20rem;
  }

}

@media (max-width: 576px) {
  .game-title {
    font-size: 2.2rem;
  }

  .diff-btn {
    font-size: 1.8rem;
  }

  .characters-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }

}

@media (max-width: 375px) {
  .game-title {
    font-size: 2rem;
  }

  .difficulty-container h3 {
    font-size: 2rem;
  }

  .diff-btn {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 2.2rem;
    padding: 0.5rem 1.5rem;
  }

  .characters-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
  }

  .character-img {
    width: 10rem;
    height: 10rem;
  }
}